<div class="col-2 nav_group">
	<%= link_to "Home", root_path, :class => nav_state("home") %>
  <%= link_to "Code", code_path, :class => nav_state("code") %>
  <%= link_to "Projects", projects_path, :class => nav_state("projects") %>
  <%= link_to "About", about_path, :class => nav_state("about") %>
  <%= link_to "Contact", contact_path, :class => nav_state("contact") %>

	<div class="footer col-2">Brock Harris &copy; 2014</div>
</div>