<!DOCTYPE html>
<html>
<head>
  <title>Brock T. Harris</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/header" %>
	
	<div class="container">
		<div class="page">
			<div class="section">
			
			<%= render "layouts/sidebar" %>
				
				<div class="col-10">
					<%= yield %>
				</div>   
			</div>
		</div>
	</div>
</body>
</html>
